{% load humanize %}
{% load pool_extras %}
<div class="col-sm-{{ col_size }}">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo">
                <div class="product-content text-center">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="">
                    {% else %}
                        <img src="/static/images/shop/product.jpg" alt="">
                    {% endif %}
                    <h2>{{ product.price | three_digits_currency }}</h2>
                    <p class="product-title">{{ product.title }}</p>
                    <div class="choose">
                    </div>
                </div>
                <input type="hidden" min="1" value="1" class="product-count" id="product-count-{{ product.id }}">
                <button onclick="addProductToOrder({{ product.id }})" class="btn btn-default add-to-cart">
                    <i class="fa fa-shopping-cart"></i>افزودن به سبد خرید
                </button>
            </div>
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <li>
                    <a href="{{ product.get_absolute_url }}">
                        <i class="fa fa-plus-square"></i>
                        مشاهده جزییات
                    </a>
                </li>
                <li>
                    <a href=""><i class="fa fa-plus-square"></i>مقایسه</a>
                </li>
            </ul>
            <!-- ... -->
        </div>
    </div>
</div>